.horizontal-click [name="akkord1"] /* Объявление идентификатора элемента */ { display: none; } /* Скрывает элементы */
.horizontal-click > :not(input):not(label) { /* Определение блоков, кроме заголовков */
	overflow: hidden; /* Отображение содержимого только внутри элемента, остальное вне элемента будет скрыто */
	height: 0; /* Высота между блока */
	border: 1px solid #808080; /* Границы */
	border-top-style: none; /* Отсутствует граница сверху */
	transition: 1s; /* Плавный переход между двумя элементами */
	font: 16pt Arial, Helvetica, sans-serif; /* Шрифт содержимого*/
	color: white; /* Цвет текста */
	background: #DB7093; /* Фон содержимого блоков */
}
.horizontal-click > label { /* Стили закрытых блоков, дочерних  */
	overflow: hidden; /* Отображение содержимого только внутри элемента, остальное вне элемента будет скрыто */
	display: block; /* блочный элемент, происходит перенос строк в начале и в конце содержимого */
	padding: 30px; /* Поля блоков */
	background: #C71585; /* Фон закрытых блоков */
	color: #F5F5DC; /* Цвет текста */
	text-overflow: ellipsis; /* Текст обрезается и к концу строки добавляется многоточие */
	cursor: pointer; /* Укахатель в виде руки */
	font: 18pt Arial, Helvetica, sans-serif; /* Шрифт заголовка закрытых блоков */
}
.horizontal-click > :checked + label + * { /* Определение размеров соседних активированных блоков */
	overflow: auto; /* Добавляет полосы прокрутки при необходимости */
	height: 200px; /* Высота блоков с информацией */
}
.horizontal-click > :checked + label { /* Стили активированных соседних блоков */
	background: #C71585	; /* Фон ооткрытого блока */
	cursor: default; /* Стандартный указатель */
	font: 26pt Arial, Helvetica, sans-serif; /* Шрифт заголовка открытого блока */
}
li {
	margin-left: 40px; /* Отступы слева*/
	line-height: 1.5; /* Расстояние между строками */
}