* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} }
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 992px) { div. contentblock {width: 970px;} }

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.clearfix:after {
    content: "";
    display:block;
    clear: both;
}

html {
    min-width: 800px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background: url(%D1%84%D0%BE%D0%BD%204.jpg); 
}

.header {
    height: auto;
    background: #FFFAFA;
    color: #000000;
    padding-bottom: 0.5em;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    display: inline-block;
    
}
/*
.head {
    height: auto;
    background: url(%D1%81%D0%BB%D0%B0%D0%B9%D0%B4%D0%B1%D0%B0%D1%80%201.jpg) no-repeat;
    background-size: 100%;
}
*/

.footer {
    height: 230px;
    background: #FFFAFA;
    color: #000000;
    left: 0;
    bottom: 0;
    width: 60%;
    margin:0 20% 0 20%;
    overflow: hidden;
    border-top: 2px solid black;
}

.content-wrapper {
    margin: 0 auto;
    min-width: 800px;
    max-width: 1980px;
}

.content {
    width: 60%;
    margin:0 20% 0 20%;
    float: left;
    background:#FFFAFA;
}

a:link {
  color:  #EF7D55; 
  text-decoration: none;
}

a:visited {
    color: #EF7D55;
    text-decoration: none;
}

a:hover {
    color: Violet; 
    border-bottom: 2px solid Violet;
    padding-bottom: 3px;   
}

a:active {
    color:  #EF7D55; 
    text-decoration: none;
}


.p1 {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    color: #222222; 
}

p {
    font-size: 14pt;
    padding-left: 20px;
    padding-right: 20px;
}

.p2 {
    display: inline;
}

.p3foot {
    text-align: center;
    text-align: bottom;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: Roboto, Arial,"Helvetica Neue", Helvetica, sans-serif;
}

li {
    font-size: 14pt;
    padding-left: 10px;
    margin-left: 15px;
}

.button1 {
/*
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: auto;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    outline: 0;
*/
    
    color: white;
    text-decoration: none;
    user-select: none;
    padding: 0.5em 1.5em 0.5em 1.5em;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 10pt;
    text-align: center;
    background: rgb(254, 76, 164);
    font-weight: 700;
}

.button1:hover {
    background: rgb(255, 26, 221);
    color: white;
}



.textbox1 {
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: 10px;
    margin-top: 10px; 
    border-radius: 5px;
    outline: 0;
    font-size: 10pt;
    transition: box-shadow .5s,border-color .25s ease-in-out;
   text-decoration: none;
    user-select: none;
    border: 2px solid grey;
}

.logo:link {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    color: #222222;
    border: 2px solid Violet;
    padding-bottom: 3px;
    color: violet;
}

.foto {
    display: inline-block;
    text-align: center;
    padding: 1em;
    transition:width 0.5s ease;
}

@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

.container_slider_css {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    background: black;
}

.photo_slider_css {
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
    width: 100%;
}

@keyframes round {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}
img:nth-child(1) {
    animation-delay: 12s;
}

img:nth-child(2) {
    animation-delay: 8s;
}

img:nth-child(3) {
    animation-delay: 4s;
}

img:nth-child(4) {
    animation-delay: 0s;
}

@media(min-width:0px) and (max-width:320px) {
    /* совсем маленькие экраны андроидов */
        .container_slider_css{
            width: 100%;
            height: 190;
    }
}
 
@media(min-width:321px) and (max-width:480px) {
    /* популярные разрешения смартфонов уже более позднего поколения андроид */
    .container_slider_css{
            width: 100%;
            height: 190px;
     }
}

.con2 {
    border-top: 2px solid black;
}
.content1 {
	padding: 15px; /* Поля вокруг текста */
	background: #C71585; /* Градиентовая заливка фона */
	float: left; /* Обтекание по левому краю */
	width: 40%; /* Высота */
	font: 16pt Arial, Helvetica, sans-serif; /* Шрифт */
	text-align: center; /* Выравнивание текста по центру */
	border-right: 1px solid; /* Граница справа */
	height: 420px; /* Ширина */
	color: #FFFFFF; /* Цвет */
	line-height: 2.0; /* Расстояние межу строками */
    
}
.karta {
	float: left; /* Обтекание по левому краю */
	width: 60%; /* ширина */
}